.site-footer {
    padding: 7em 0;
  }
  .site-footer p {
    color: black;
  }
  .site-footer p:last-child {
    margin-bottom: 0;
  }
  .site-footer a {
    color: black;
    text-decoration: underline;
  }
  .site-footer h3 {
    font-size: 1rem;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: black;
  }
  .site-footer .footer-link a {
    color: black;
  }
  .site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .site-footer hr {
    width: 100%;
  }

  .site-footer i {
      font-size: 2rem;
  }