.navbar {
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 5;
    background: transparent!important;
    transition: ease-in-out 400ms;
  }

  @media (max-width: 992px) {
    .navbar {
        background-color: rgba(155, 155, 155, .95) !important;
        box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    }
}

  .scrolling {
    background-color: rgba(155, 155, 155, .95) !important;
    transition: ease-in-out 400ms;
}

.navbar-toggler {
    color: white;
    border: none;
}

.navbar .navbar-toggler-icon {
  color: black;
}

.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 400;
    color: white;
    font-family: 'Abril Fatface', sans-serif;
  }

  .navbar-brand.absolute {
    position: absolute;
  }
  @media (max-width:768px) {
    .navbar-brand.absolute {
        position: relative;
      }
  }

  .navbar-brand span {
    color: white;
  }

  .navbar .navbar-nav .nav-link {
    padding: 1.7rem 1rem!important;
    outline: none!important;
    font-size: .9rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
  }


.navbar .navbar-nav .nav-link.active {
  color: #6f42c1;
}