.Pagefront {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/hero_2.jpg');
    background-position: 50% 0px;
    background-size: cover;
}

.slider-item:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: black;
    opacity: .3;
}

.slider-item .slider-text h1 {
    font-size: 7rem;
    color: #fff;
    line-height: 1.2;
    font-weight: 700!important;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .slider-item .slider-text h1 {
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    .slider-item .slider-text h1 {
        font-size: 4rem;
    }
}

@media (max-width: 576px) {
    .slider-item .slider-text h1 {
        font-size: 3rem;
    }
}